{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configuracion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ configuracion.id }}</td>
            </tr>
            <tr>
                <th>Urlxmlphp</th>
                <td>{{ configuracion.urlxmlphp }}</td>
            </tr>
            <tr>
                <th>Urlxmlclima</th>
                <td>{{ configuracion.urlxmlclima }}</td>
            </tr>
            <tr>
                <th>Urlxmlcintillo</th>
                <td>{{ configuracion.urlxmlcintillo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'id': configuracion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
