{% extends "AppBundle::clientlayout.html.twig" %}
{% block title %}
    Horario
{% endblock %}

{% block mystyles %}
    <link href="{{ asset('bundles/app/plugins/owl/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/plugins/owl/assets/owl.theme.default.min.css')}}" rel="stylesheet">
    {% endblock %}



{% block contenido %}
<div class="row">
    <div class="col-md-6" id="firsttop">
        <div style="text-align: center;margin: 0 auto">
            <img src="{{ asset('bundles/app/site/img/logo_fcb big.png') }} ">
        </div>

    </div>


    <div class="col-md-6" id="secondtop">
        <div class="row">
            <div id="tiempodiv" class="col-md-5">  </div>
            <div id="tiempodiadiv" class="col-md-5" style="text-align: center;">  </div>
            <div id="horadiv" style="text-align: center;background: #303030;" class="col-md-2">  </div>

        </div>




    </div>

</div>

    <div class="row">

        <div class="col-md-6">
            <div class="owl-carousel owl-theme">
                {% for media in medias %}
                    <div style="text-align: center;margin: 0 auto">
{#{{ dump(media) }}#}

                        {% if 'video' in media.contentType  %}


                            {#<div class="item-video">#}
                                {#<iframe width="950" height="900" src="">#}
                                {#</iframe>#}
                            {#</div>#}
                      <video  src="{%  path media, 'reference' %}" autobuffer controls autoplay></video>

                        {% else %}
                            {% media  media, 'big' with {'class': 'myclass'} %}
                        {% endif %}


                       </div>
                {% endfor %}
            </div>

        </div>

    </div>

        <div class="row">
            <div class="" role="alert" id="marqcontainer">
                <strong><i class="fa fa-newspaper-o"></i> Noticias</strong>
                 <marquee id="mymarquee"></marquee>
            </div>

<div style="text-align: center;margin: 0 auto"></div>
{% endblock %}

{% block srcjavascripts %}
    <script src="{{ asset('bundles/app/plugins/owl/owl.carousel.min.js')}}"></script>
{% endblock %}

{% block javascripts_inline %}

    <script>
        var owl=$('.owl-carousel').owlCarousel({

            loop:true,
            margin:10,
            nav:true,
            navText:['',''],
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:1
                },
                1000:{
                    items:1
                }
            },
            afterAction: function(current) {
                current.find('video').get(0).play();
            },
            onTranslate: function(current) {

            }
            ,
            video:true,
            dots: false,
            videoHeight: 900,
            videoWidth: 950,
            autoplay:true,
            autoplayTimeout: 1000*60*parseInt('{{ configuracion.sliderelemntTime }}')

        });

        owl.on('mousewheel', '.owl-stage', function (e) {
            if (e.deltaY>0) {
                owl.trigger('next.owl');
            } else {
                owl.trigger('prev.owl');
            }
            e.preventDefault();
        });

        owl.on('changed.owl.carousel',function(property){
            var current = property.item.index;
            var src = $(property.target).find(".owl-item").eq(current).find("img").attr('src');
            if(src==undefined){
               var v = $(property.target).find(".owl-item").eq(current).find("video");
                v.get(0).play()
            }else{
                $('.owl-item').find('video').each(function() {
                    this.pause();
                });
            }
        });

    </script>


    <script >

        $(document).ready(function(){



        });

         function UpdateHora(){
                var fechahoy=new Date();
                var horaactual=parseInt(fechahoy.getHours());
                var horadiv=$('#horadiv');
                horadiv.empty();
                horadiv.append('<label style="color: white;font-size: 19px;"><i class="fa fa-clock-o"></i> '+horaactual+':'+fechahoy.getMinutes()+':'+fechahoy.getSeconds()+' </label>');
                horadiv.css('margin-top','3%');
                horadiv.css('text-align','center');
            }
            window.setInterval(function(){
                UpdateHora();
            }, 1000);

function createDateAsUTC(date) {
    return new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(), date.getMinutes(), date.getSeconds()));
}

            //Clima
            function UpdateClima(){
                var climaUrl='{{ configuracion.urlxmlclima }}';

                $.ajax({
                    type: 'GET',
                    url:climaUrl,
                    success: function (xml) {
                        var fechahoy=new Date();
                        fechahoy=createDateAsUTC(fechahoy);


                     //   var horaactual=parseInt(fechahoy.getHours());
                        var horaactual=parseInt(new Date().getHours());
                        var diactual=parseInt(fechahoy.getUTCDate());

                        console.log(horaactual+" hora");
                        console.log(diactual +" dia");

                        $('#secondtop').height($('#firsttop').height());
                        var tutiempodiv=$('#tiempodiv');
                        var tiempoact=false;

                        $(xml).find('pronostico_horas').find('hora').each(function(){
                            var hora=parseInt($(this).find('hora_datos').text());
                            var dia=parseInt($(this).find('fecha').text().split('-')[2]);

                         console.log(fechahoy.getUTCDate());
                         console.log(dia);
                         console.log(diactual);
                         console.log(hora);
                         console.log(horaactual);
                         console.log('--------------');
                            if(dia==diactual && hora==horaactual){
                                tutiempodiv.empty();
                                tutiempodiv.append('<img src="'+$(this).find('icono').text()+'">'+
                                        '<span style="margin-left: 10px;font-size: 136%;">'+$(this).find('temperatura').text()+' °C</span>');
                                tiempoact=true;
                            }
                        });// end foreach
                        if(tiempoact==false){
                            tutiempodiv.empty();
                            tutiempodiv.append('<small class="label label-warning"> Sin servicio del tiempo para esta hora.</small>');

                        }

                        //tiempo dia
                                console.log('Tiempo dia');
                        var booltiempodia=false;
                        var div=$('#tiempodiadiv');
                        $(xml).find('pronostico_dias').find('dia').each(function(){
                            var diactual=parseInt(fechahoy.getUTCDate());
                            var mesactual=parseInt(fechahoy.getMonth())+1;
                            var dia=parseInt($(this).find('fecha').text().split('-')[2]);
                            var mes=parseInt($(this).find('fecha').text().split('-')[1]);

                            console.log(dia);
                            console.log(diactual);
                            console.log(mes);
                            console.log(mesactual);
                            console.log('_________________');
                            if(dia==diactual && mes==mesactual){
                                div.empty();
                                div.append(
                                        '<img src="'+$(this).find('icono').text()+'" width="20%"><br>'+
                                        '<span style="margin-left: 10px;font-size: 136%;color: red">'+$(this).find('temp_maxima').text()+'°</span>'+
                                        '<span style="margin-left: 10px;font-size: 136%;">|</span>'+
                                        '<span style="margin-left: 10px;font-size: 136%;color:blue">'+$(this).find('temp_minima').text()+'°</span>');
                                booltiempodia=true;

                            }

                        });

                        if(booltiempodia==false){
                            div.empty();
                            div.append('<small class="label label-warning"> Sin servicio del tiempo para el dia.</small>');

                        }


                        tutiempodiv.css('margin-top','5%');
                        tutiempodiv.css('text-align','right');



                    },
                    error: function (req, stat, err) {
                        console.log(err);
                    }
                });

            }
            var minutosClima=parseInt('{{ configuracion.climaelemntTime }}');
            UpdateClima();
            window.setInterval(function(){
                UpdateClima();
            }, 1000*60*minutosClima);
             //end clima


            //noticias
           function UpdateNoticias(){

//           $('#mymarquee').on('bounce',function(){
//
//           alert('asd');
//           });
               var noticiasUrl='{{ configuracion.urlxmlcintillo }}';
               $.ajax({
                   type: 'GET',
                   url:noticiasUrl,
                   success: function (xml) {
                       var noticiasclear='';
                       $(xml).find('channel').find('title').each(function(){
                          noticiasclear+=$(this).text()+' --- ';
                         });
                       $('#marqcontainer').empty().append('  <strong><i class="fa fa-newspaper-o"></i> Noticias</strong><marquee id="mymarquee">'+'<p id="pmarquee" style="font-family: Impact; font-size: 18pt">'+noticiasclear+'</p>'+'</marquee>')

                   },
                   error: function (req, stat, err) {
                     //  console.log(err);
                   }
               });
           }
            var minutosnoticias=parseInt('{{ configuracion.noticiasUpdateTime }}');
            UpdateNoticias();
            window.setInterval(UpdateNoticias(), 1000*60*minutosnoticias);
            //end noticias

            //Horarios -> de los horarios que traiga del servicio, solo tomar los del dia actual(hoy)

            function UpdateHorarios(){

            // jQuery cross domain ajax


              var horariosUrl='{{ configuracion.urlxmlphp }}';
               $.ajax({
                   type: 'GET',
                   crossDomain: true,
                   url:horariosUrl,
                   success: function (xml) {
                       $(xml).find('channel').find('title').each(function(){
                          console.log($(this));

                       });

                   },
                   error: function (req, stat, err) {
                       console.log(err);
                   }
               });
            }
             var minutoshorarios=parseInt('{{ configuracion.horariosUpdateTime }}');
             window.setInterval(UpdateHorarios(), 1000*60*minutoshorarios);


    </script>

{% endblock %}