{% extends "AppBundle::clientlayout.html.twig" %}
{% block title %}
    Horario
{% endblock %}

{% block mystyles %}
    <link href="{{ asset('bundles/app/plugins/owl/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/plugins/owl/assets/owl.theme.default.min.css')}}" rel="stylesheet">
    {% endblock %}



{% block contenido %}
<div class="row">
    <div class="col-md-6" id="firsttop">
        <div style="text-align: center;margin: 0 auto">
            <img src="{{ asset('bundles/app/site/img/logo_fcb big.png') }} ">
        </div>

    </div>


    <div class="col-md-6" id="secondtop">
        <div class="row">
            <div id="tiempodiv" class="col-md-10">  </div>
            <div id="horadiv" style="text-align: center;background: #303030;" class="col-md-2">  </div>

        </div>




    </div>

</div>

    <div class="row">

        <div class="col-md-6">
            <div class="owl-carousel owl-theme">
                {% for media in medias %}
                    <div style="text-align: center;margin: 0 auto">
{#{{ dump(media) }}#}

                        {% if 'video' in media.contentType  %}


                            {#<div class="item-video">#}
                                {#<iframe width="950" height="900" src="">#}
                                {#</iframe>#}
                            {#</div>#}
                      <video width="950" height="900" src="{%  path media, 'reference' %}" autobuffer controls autoplay></video>

                        {% else %}
                            {% media  media, 'big' with {'class': 'myclass'} %}
                        {% endif %}


                       </div>
                {% endfor %}
            </div>

        </div>

    </div>
    <div class="row">
        <marquee behavior="" direction="left"><a href="d">MMMMMMMM</a></marquee>
    </div>
{% endblock %}

{% block srcjavascripts %}
    <script src="{{ asset('bundles/app/plugins/owl/owl.carousel.min.js')}}"></script>
{% endblock %}

{% block javascripts_inline %}

    <script>
        var owl=$('.owl-carousel').owlCarousel({

            loop:true,
            margin:10,
            nav:true,
            navText:['',''],
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:1
                },
                1000:{
                    items:1
                }
            },
            afterAction: function(current) {
                current.find('video').get(0).play();
            },
            onTranslate: function(current) {

            }
            ,
            video:true,
            dots: false,
            videoHeight: 900,
            videoWidth: 950,
            autoplay:true,
            autoplayTimeout:1000*60*parseInt('{{ configuracion.sliderelemntTime }}')

        });

        owl.on('mousewheel', '.owl-stage', function (e) {
            if (e.deltaY>0) {
                owl.trigger('next.owl');
            } else {
                owl.trigger('prev.owl');
            }
            e.preventDefault();
        });

        owl.on('changed.owl.carousel',function(property){
            var current = property.item.index;
            var src = $(property.target).find(".owl-item").eq(current).find("img").attr('src');
            if(src==undefined){
               var v = $(property.target).find(".owl-item").eq(current).find("video");
                v.get(0).play()
            }else{
                $('.owl-item').find('video').each(function() {
                    this.pause();
                });
            }
        });

    </script>


    <script >

        $(document).ready(function(){


            function UpdateHora(){
                var fechahoy=new Date();
                var horaactual=parseInt(fechahoy.getHours());
                var horadiv=$('#horadiv');
                horadiv.empty();
                horadiv.append('<label style="color: white;font-size: 19px;"><i class="fa fa-clock-o"></i> '+horaactual+':'+fechahoy.getMinutes()+':'+fechahoy.getSeconds()+' </label>');
                horadiv.css('margin-top','3%');
                horadiv.css('text-align','center');
            }
            window.setInterval(function(){
                UpdateHora();
            }, 1000);

            //Clima
            function UpdateClima(){
                var climaUrl='{{ configuracion.urlxmlclima }}';
                $.ajax({
                    type: 'GET',
                    url:climaUrl,
                    success: function (xml) {
                        var fechahoy=new Date();

                        var horaactual=parseInt(fechahoy.getHours());

                        var diactual=parseInt(fechahoy.getUTCDate());

                        $('#secondtop').height($('#firsttop').height());
                        var tutiempodiv=$('#tiempodiv');
                        var tiempoact=false;

                        $(xml).find('pronostico_horas').find('hora').each(function(){
                            var hora=parseInt($(this).find('hora_datos').text());
                            var dia=parseInt($(this).find('fecha').text().split('-')[2]);
                            if(dia==diactual && hora==horaactual){
                                tutiempodiv.empty();
                                tutiempodiv.append('<img src="'+$(this).find('icono').text()+'">'+
                                        '<span style="margin-left: 10px;font-size: 136%;">'+$(this).find('temperatura').text()+' °C</span>');
                                tiempoact=true;
                            }
                        });// end foreach
                        if(tiempoact==false){
                            tutiempodiv.empty();
                            tutiempodiv.append('<small class="label label-warning"> No hay comunicación con el servicio del tiempo.</small>');

                        }
                        tutiempodiv.css('margin-top','5%');
                        tutiempodiv.css('text-align','center');


                    },
                    error: function (req, stat, err) {
                        console.log(err);
                    }
                });

            }
            var minutosClima=parseInt('{{ configuracion.climaelemntTime }}');
            UpdateClima();
            window.setInterval(function(){
                UpdateClima();
            }, 1000*60*minutosClima);
             //end clima





        });

    </script>

{% endblock %}